.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  // border: 2px;
  // border-style: solid;
  // border-radius: 2%;
  // border-color: black;
}