.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  color: #ccd8ea;
  font-family: "Roboto", sans-serif;

  p{
    & > a{
      color: rgb(219, 177, 71);
      text-decoration: none;
    }
  }

}
