.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  color: #ccd8ea;
  font-family: "Roboto", sans-serif;
}

.btn{
  padding: 5px ;
  background: rgb(219, 177, 71);
  border-radius: 5px;
  border: none;
  color: #474782;
  cursor: pointer;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 15px;
}

.btn_td{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 15px;
}

